{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card">

        <div class="post">
        <p>{{ post.author}}</p>
            <div class="post-date">
                {{ post.published_date }}
            </div>
		<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        </div>
    {% endfor %}
{% endblock %}

{% block contentr %}
<div class="content-section">
 <ul>
  <h4>Latest Posts</h4>
    {% for post in postsl %}

      <li><a class="post-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
        <p class="post-date">{{ post.published_date }}</p>

    {% endfor %}
    </div>
{% endblock %}
